%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    {edown, ".*",
        {git, "git://github.com/esl/edown.git", "HEAD"}},
	{proper, ".*",
		{git, "git://github.com/manopapad/proper.git", "master"}},
	{ranch, "0\\.4\\.0.*", {git, "git://github.com/refuge/ranch.git",
		"cd099983b1b807b87fa050d1e4ff0a13aba25b49"}}
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [debug_info]}.

{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md", "http://github.com/refuge/leanbeef"}}]}.
